.App {
  text-align: center;
}

form{
  display: inline-block;
  background-color: teal;
  color: aliceblue;
  padding: 10px;
}

form div{
  margin: 20px;
}

form label{
  display: inline-block;
  width: 100px;
}

span{
  display: inline-block;
  width: 100px;
  text-align: left;
  margin-left: 10px;
}
.gender{
margin-left: -130px;
}

.ms{
  margin-left: -120px;
}
.state{
  margin-left: -90px;
}
.state select{
  width: 170px;
  height: 25px;
}
.language{
  margin-left: -70px;
}